<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению
<center>
Автор материала: Юрий Кашницкий, программист-исследователь Mail.Ru Group <br> 

Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center>Домашнее задание № 1 (демо).<br> Анализ данных по доходу населения UCI Adult</center>

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным репозитория UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) (качать данные не надо – они уже есть в репозитории). Для отправки решений используйте [онлайн-форму](https://docs.google.com/forms/d/1xAzU-5N6oEeR4UG8G44V6XL-Kbr4WYcPBG45Kijge2Y).**

Уникальные значения признаков (больше информации по ссылке выше):
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [164]:
import pandas as pd

In [183]:
data = pd.read_csv('../../data/adult.data.csv')
data.head(10)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

**1. Сколько мужчин и женщин (признак *sex*) представлено в этом наборе данных?**

In [166]:
print(data.shape)
data['sex'].value_counts()

(32561, 15)

Male      21790
Female    10771
Name: sex, dtype: int64

В таблице 32561 строка (всего 32561 человек).
21790 мужчин и 10771 женщина.

**2. Каков средний возраст (признак *age*) женщин?**

In [62]:
print('средний возраст всех людей = %.1f' % data['age'].mean())
print('женщин = %.1f' % data[data['sex'] == 'Female']['age'].mean())

средний возраст всех людей = 38.6
женщин = 36.9

Средний возраст всех людей - 38.6 лет, женщин - 36.9.

**3. Какова доля граждан Германии (признак *native-country*)?**

In [167]:
(data['native-country'].value_counts(normalize=True))['Germany']

0.004207487485028101

Доля граждан Германии - 0.004207 =  0.4207%

**4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год?**

In [168]:
print('ср. знач. возраста с зарплатой >50K = %.1f' % data[data['salary'] == '>50K']['age'].mean())
print('ср. знач. возраста с зарплатой <=50K = %.1f' % data[data['salary'] == '<=50K']['age'].mean())

print('\nсркв. откл. возраста с зарплатой >50K = %.1f' % data[data['salary'] == '>50K']['age'].std())
print('сркв. откл. возраста с зарплатой <=50K = %.1f' % data[data['salary'] == '<=50K']['age'].std())

ср. знач. возраста с зарплатой >50K = 44.2
ср. знач. возраста с зарплатой <=50K = 36.8

сркв. откл. возраста с зарплатой >50K = 10.5
сркв. откл. возраста с зарплатой <=50K = 14.0

**6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [169]:
print(data[data['salary'] == '>50K']['education'].value_counts())

Bachelors       2221
HS-grad         1675
Some-college    1387
Masters          959
Prof-school      423
Assoc-voc        361
Doctorate        306
Assoc-acdm       265
10th              62
11th              60
7th-8th           40
12th              33
9th               27
5th-6th           16
1st-4th            6
Name: education, dtype: int64

Нет, не обязательно высшее.

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Amer-Indian-Eskimo*.**

(я так понял, не для рассы и пола по отдельности, а всего вместе)

In [170]:
data.groupby(['race', 'sex'])['age'].describe()
#data[data['race'] == 'Amer-Indian-Eskimo']['age'].max()

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

Максимальный возраст мужчин расы *Amer-Indian-Eskimo* - 82 года.

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [190]:
#data['marital-status'].value_counts()

Married_status_list = ['Married-civ-spouse', 'Married-spouse-absent', 'Married-AF-spouse']
Not_married_status_list = ['Never-married', 'Divorced', 'Separated', 'Widowed']

data['marital-status'].replace(Married_status_list, 'Married', inplace = True)
data['marital-status'].replace(Not_married_status_list, 'Not-married', inplace = True)

pd.crosstab(data[data['sex'] == 'Male']['marital-status'], data[data['sex'] == 'Male']['salary'], normalize=True)

salary             <=50K      >50K
marital-status
Married         0.347682  0.273749
Not-married     0.346581  0.031987

Среди женатых мужчин доля зарабатывающих много больше. Причем сильно больше.

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [172]:
max_hours_per_week = data['hours-per-week'].max()
print(max_hours_per_week, 'часов в неделю')

print('и таких', data[data['hours-per-week'] == max_hours_per_week]['salary'].count())
data[data['hours-per-week'] == max_hours_per_week]['salary'].value_counts(normalize = True)

99 часов в неделю
и таких 85

<=50K    0.705882
>50K     0.294118
Name: salary, dtype: float64

Cреди них только 29% имеют хорошую зарплату. (бедняги, по 14 часов в день без выходных пашут (х_х)Q)

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [191]:
data.groupby(['native-country', 'salary'])['hours-per-week'].describe() # or .mean() просто так таблица лучше выглядит

(data.groupby(['native-country', 'salary'])['hours-per-week'].mean())['Japan']

salary
<=50K    41.000000
>50K     47.958333
Name: hours-per-week, dtype: float64